In [1]:
import pandas as pd

In [2]:
df_alternative_identifiers = pd.read_csv(
    'opendata/data/alternative_identifiers.csv')
df_constituents = pd.read_csv('opendata/data/constituents.csv')
df_constituents_altnames = pd.read_csv(
    'opendata/data/constituents_altnames.csv')
df_constituents_text_entries = pd.read_csv(
    'opendata/data/constituents_text_entries.csv')
df_locations = pd.read_csv('opendata/data/locations.csv')
df_media_items = pd.read_csv('opendata/data/media_items.csv')
df_media_relationships = pd.read_csv('opendata/data/media_relationships.csv')
df_object_associations = pd.read_csv('opendata/data/object_associations.csv')
df_object_constituents = pd.read_csv('opendata/data/objects_constituents.csv')
df_objects_dimensions = pd.read_csv('opendata/data/objects_dimensions.csv')
df_objects_historical_data = pd.read_csv(
    'opendata/data/objects_historical_data.csv')
df_objects_terms = pd.read_csv('opendata/data/objects_terms.csv')
df_objects_text_entries = pd.read_csv('opendata/data/objects_text_entries.csv')
df_objects = pd.read_csv('opendata/data/objects.csv')
df_preferred_locations_tms_locations = pd.read_csv(
    'opendata/data/preferred_locations_tms_locations.csv')
df_preferred_locations = pd.read_csv('opendata/data/preferred_locations.csv')
df_published_images = pd.read_csv('opendata/data/published_images.csv')

/var/folders/vk/7gng6fhd2fzb0wxymcgl6j880000gn/T/ipykernel_3182/1142153778.py:14: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_objects = pd.read_csv('opendata/data/objects.csv')

In [4]:
import pandas as pd
import os

# Define the directory where your files are stored
data_directory = "opendata/data/"

# List all CSV files in the directory
csv_files = [f for f in os.listdir(data_directory) if f.endswith(".csv")]

# Iterate through the files and print their column names
for file in csv_files:
    file_path = os.path.join(data_directory, file)
    try:
        # Read only first 5 rows to check structure
        df = pd.read_csv(file_path, nrows=5)
        print(f"Columns in {file}:")
        print(df.columns.tolist())  # Print column names as a list
        print("\n" + "-"*50 + "\n")  # Separator for readability
    except Exception as e:
        print(f"Error reading {file}: {e}")

Columns in constituents.csv:
['constituentid', 'ulanid', 'preferreddisplayname', 'forwarddisplayname', 'lastname', 'displaydate', 'artistofngaobject', 'beginyear', 'endyear', 'visualbrowsertimespan', 'nationality', 'visualbrowsernationality', 'constituenttype', 'wikidataid']

--------------------------------------------------

Columns in published_images.csv:
['uuid', 'iiifurl', 'iiifthumburl', 'viewtype', 'sequence', 'width', 'height', 'maxpixels', 'created', 'modified', 'depictstmsobjectid', 'assistivetext']

--------------------------------------------------

Columns in media_items.csv:
['mediaid', 'mediatype', 'title', 'description', 'duration', 'language', 'thumbnailurl', 'playurl', 'downloadurl', 'keywords', 'tags', 'imageurl', 'presentationdate', 'releasedate', 'lastmodified']

--------------------------------------------------

Columns in media_relationships.csv:
['mediaid', 'relatedid', 'relatedentity']

--------------------------------------------------

Columns in object_associations.csv:
['parentobjectid', 'childobjectid', 'relationship']

--------------------------------------------------

Columns in constituents_text_entries.csv:
['constituentid', 'text', 'texttype', 'year']

--------------------------------------------------

Columns in objects_constituents.csv:
['objectid', 'constituentid', 'displayorder', 'roletype', 'role', 'prefix', 'suffix', 'displaydate', 'beginyear', 'endyear', 'country', 'zipcode']

--------------------------------------------------

Columns in objects_terms.csv:
['termid', 'objectid', 'termtype', 'term', 'visualbrowsertheme', 'visualbrowserstyle']

--------------------------------------------------

Columns in objects.csv:
['objectid', 'accessioned', 'accessionnum', 'locationid', 'title', 'displaydate', 'beginyear', 'endyear', 'visualbrowsertimespan', 'medium', 'dimensions', 'inscription', 'markings', 'attributioninverted', 'attribution', 'provenancetext', 'creditline', 'classification', 'subclassification', 'visualbrowserclassification', 'parentid', 'isvirtual', 'departmentabbr', 'portfolio', 'series', 'volume', 'watermarks', 'lastdetectedmodification', 'wikidataid', 'customprinturl']

--------------------------------------------------

Columns in constituents_altnames.csv:
['altnameid', 'constituentid', 'lastname', 'displayname', 'forwarddisplayname', 'nametype']

--------------------------------------------------

Columns in objects_dimensions.csv:
['objectid', 'element', 'dimensiontype', 'dimension', 'unitname']

--------------------------------------------------

Columns in locations.csv:
['locationid', 'site', 'room', 'publicaccess', 'description', 'unitposition']

--------------------------------------------------

Columns in alternative_identifiers.csv:
['uuid', 'idschemelabel', 'identifier']

--------------------------------------------------

Columns in preferred_locations_tms_locations.csv:
['preferredlocationkey', 'tmslocationid']

--------------------------------------------------

Columns in objects_historical_data.csv:
['datatype', 'objectid', 'displayorder', 'forwardtext', 'invertedtext', 'remarks', 'effectivedate']

--------------------------------------------------

Columns in preferred_locations.csv:
['locationkey', 'locationtype', 'description', 'ispublicvenue', 'mapimageurl', 'mapshapetype', 'mapshapecoords', 'partof']

--------------------------------------------------

Columns in objects_text_entries.csv:
['objectid', 'text', 'texttype', 'year']

--------------------------------------------------

In [14]:
# Check if "On the Bosphorus" is in the title column
is_present = df_objects['title'].str.contains(
    "Hologram #10	", case=False, na=False).any()

print(f"Is 'On the Bosphorus' present in the title column? {is_present}")

Is 'On the Bosphorus' present in the title column? False

In [8]:
latest_date = df_objects['lastdetectedmodification'].max()
print(f"The latest date in df_objects is: {latest_date}")

The latest date in df_objects is: 2024-07-07 22:01:52.88-04

In [9]:
df_objects_historical_data

,datatype,objectid,displayorder,forwardtext,invertedtext,remarks,effectivedate
0,previous_attribution,0,3,Follower of Cimabue,"Cimabue, Follower of",Bd. Tr. approval 5/2/1984,1984-05-02
1,previous_attribution,1,2,Follower of Giotto,"Giotto, Follower of",Bd. Tr. approval 2/1/1941,1941-02-01
2,previous_attribution,1,1,School of Giotto,School of Giotto,Attribution at time of acquisition,1937
3,previous_attribution,2,1,Gherardo Starnina,"Starnina, Gherardo",Attribution at time of gift,NaN
4,previous_attribution,3,1,Gherardo Starnina,"Starnina, Gherardo",Attribution at time of gift,NaN
...,...,...,...,...,...,...,...
5767,previous_attribution,228924,1,Portuguese 17th Century,Portuguese 17th Century,Attribution at time of gift,NaN
5768,previous_title,228925,2,Four-Panel Screen,NaN,NaN,NaN
5769,previous_attribution,228925,1,Portuguese 17th Century,Portuguese 17th Century,Attribution at time of gift,NaN
5770,previous_title,228926,2,Four-Panel Screen,NaN,NaN,NaN
5771,previous_attribution,228926,1,Portuguese 17th Century,Portuguese 17th Century,Attribution at time of gift,NaN

In [ ]:
df = pd.read_csv('artDataset.csv')

In [11]:
df

,Unnamed: 0,price,artist,title,yearCreation,signed,condition,period,movement
0,0,28.500 USD,Tommaso Ottieri,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque
1,1,3.000 USD,Pavel Tchelitchew,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism
2,2,5.000 USD,Leo Gabin,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract
3,3,5.000 USD,Matthias Dornfeld,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract
4,4,2.500 USD,Alexis Marguerite Teplin,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract
...,...,...,...,...,...,...,...,...,...
749,749,680 USD,Jane Kent,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,Contemporary,Abstract
750,750,1.275 USD,Gary Bower,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,Contemporary,Geometric Abstraction
751,751,680 USD,Jane Kent,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,Contemporary,Geometric Abstraction
752,752,1.275 USD,T. L. Solien,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,Contemporary,Abstract
753,753,680 USD,John Duff,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,Modern,Geometric Abstraction

In [12]:
df.columns

Index(['Unnamed: 0', 'price', 'artist', 'title', 'yearCreation', 'signed',
       'condition', 'period', 'movement'],
      dtype='object')

In [ ]:
with open('art_auction_valuation/data.txt', 'r', encoding='utf-8') as file:
    for _ in range(10):  # Print first 10 lines
        print(file.readline())

	artist	country	yearOfBirth	yearOfDeath	name	year	price	material	height	width	link	source	dominantColor	brightness	ratioUniqueColors	thresholdBlackPerc	highbrightnessPerc	lowbrightnessPerc	CornerPer	EdgePer	FaceCount	soldtime

0	Mario A	Swiss	1959		The world is beautyful #5	2004	5315.0	laserchrome_print_diasec	29.53	39.37	http://artsalesindex.artinfo.com/asi/lots/3456055	http://artinfo-images-350.s3.amazonaws.com/asi2-81582/880.jpg	yellows	98.0	0.25	65.74	0.75	21.56	0.37	4.02	1.0

1	Mario A	Swiss	1959		The world is beautyful #13	2004	7383.0	laserchrom_print_(diasec.)	29.53	39.37	http://artsalesindex.artinfo.com/asi/lots/3456059	http://artinfo-images-350.s3.amazonaws.com/asi2-81582/881.jpg	blacks	73.0	0.19	66.17	15.21	46.5	1.52	7.28	0.0

2	A E Cremer	French	20thC		Spot Lights		2090.0	black-painted_metal			http://artsalesindex.artinfo.com/asi/lots/5250074	http://artinfo-images-350.s3.amazonaws.com/asi2-114217/291.jpg	whites	212.0	0.05	20.17	0.0	17.56	0.39	4.15	0.0

3	A G Schultz & Co.	American	est1890s		Sugar/Sweetmeat Baskets		615.0	Sterling_Silver	6.5	5.75	http://artsalesindex.artinfo.com/asi/lots/5269624	http://artinfo-images-350.s3.amazonaws.com/asi2-112689/654.jpg	blacks	73.0	0.18	83.0	13.74	35.74	3.58	13.13	0.0

4	A G Schultz & Co.	American	est1890s		An American Silver Five-piece Tea And Coffee Set, A.G. Schultz & Co., Baltimore, MD	1908	8125.0	silver			http://artsalesindex.artinfo.com/asi/lots/3900522	http://artinfo-images-350.s3.amazonaws.com/asi2-98459/N08608-382-lr-1l.jpg	whites	216.0	0.02	11.26	0.0	6.27	1.25	12.95	0.0

5	A H	European			Oriental couple playing with their first born	1862	6080.0	oil_on_canvas	36.0	29.0	http://artsalesindex.artinfo.com/asi/lots/553527	http://artinfo-images-350.s3.amazonaws.com/10852/1218.jpg	blacks	45.0	0.19	95.14	14.08	41.76	0.34	7.03	0.0

6	A H G				Numerous figures on beach, said to be at Rhyl Sands		1678.0	oil_on_canvas	20.0	30.0	http://artsalesindex.artinfo.com/asi/lots/1286661	http://artinfo-images-350.s3.amazonaws.com/8575804/115.jpg	whites	188.0	0.0	11.53	0.0	9.05	1.14	2.79	0.0

7	A K				Portrait of an old man reading a book	1878	1700.0	oil_on_canvas	24.0	16.0	http://artsalesindex.artinfo.com/asi/lots/575099	http://artinfo-images-350.s3.amazonaws.com/21577/354.jpg	grays	94.0	0.0	77.02	1.3	6.95	0.59	4.57	0.0

8	A Kassen	Danish	est2004		Mirror #4	2013	10000.0	digital_c-print_on_Dibond	74.8	44.88	http://artsalesindex.artinfo.com/asi/lots/5279700	http://artinfo-images-350.s3.amazonaws.com/asi2-114355/437.jpg	whites	204.0	0.12	9.01	0.0	6.49	1.08	5.02	0.0

In [ ]:
import pandas as pd

# Read the tab-separated file
df = pd.read_csv('art_auction_valuation/data.txt', sep='\t', encoding='utf-8')

df

/var/folders/vk/7gng6fhd2fzb0wxymcgl6j880000gn/T/ipykernel_8716/1421794930.py:4: DtypeWarning: Columns (3,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('art_auction_valuation/data.txt', sep='\t', encoding='utf-8')

,Unnamed: 0,artist,country,yearOfBirth,yearOfDeath,name,year,price,material,height,...,dominantColor,brightness,ratioUniqueColors,thresholdBlackPerc,highbrightnessPerc,lowbrightnessPerc,CornerPer,EdgePer,FaceCount,soldtime
0,0,Mario A,Swiss,1959,NaN,The world is beautyful #5,2004,5315.0,laserchrome_print_diasec,29.53,...,yellows,98.0,0.25,65.74,0.75,21.56,0.37,4.02,1.0,NaN
1,1,Mario A,Swiss,1959,NaN,The world is beautyful #13,2004,7383.0,laserchrom_print_(diasec.),29.53,...,blacks,73.0,0.19,66.17,15.21,46.50,1.52,7.28,0.0,NaN
2,2,A E Cremer,French,20thC,NaN,Spot Lights,NaN,2090.0,black-painted_metal,NaN,...,whites,212.0,0.05,20.17,0.00,17.56,0.39,4.15,0.0,NaN
3,3,A G Schultz & Co.,American,est1890s,NaN,Sugar/Sweetmeat Baskets,NaN,615.0,Sterling_Silver,6.5,...,blacks,73.0,0.18,83.00,13.74,35.74,3.58,13.13,0.0,NaN
4,4,A G Schultz & Co.,American,est1890s,NaN,An American Silver Five-piece Tea And Coffee S...,1908,8125.0,silver,NaN,...,whites,216.0,0.02,11.26,0.00,6.27,1.25,12.95,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41248,41290,Mark Rothko,American,1903.0,1970.0,Untitled,1961,1700000.0,oil_on_canvas,93.0,...,reds,107.0,0.06,98.99,0.00,0.00,0.14,0.32,0.0,1997-11-18 00:00:00
41249,41291,Mark Rothko,American,1903.0,1970.0,Untitled,1968,300000.0,acrylic_on_paper_on_canvas,24.0,...,reds,134.0,0.10,68.56,0.00,0.00,0.56,0.45,0.0,1997-11-18 00:00:00
41250,41292,Mark Rothko,American,1903.0,1970.0,Untitled,1959,280000.0,oil_on_paper_laid_on_masonite,38.0,...,blacks,110.0,0.07,53.48,0.66,47.50,0.14,1.07,0.0,1997-11-18 00:00:00
41251,41293,Mark Rothko,American,1903.0,1970.0,"Green, White, Green on Blue",1969,322938.0,oil_on_paper_on_board,71.0,...,blacks,25.0,0.08,94.98,9.47,42.95,0.22,1.97,0.0,1995-11-29 00:00:00
41252,41294,Mark Rothko,American,1903.0,1970.0,Red on red,1968,330000.0,oil_on_paper_on_canvas,40.0,...,reds,106.0,0.05,96.90,0.00,0.00,0.05,0.17,0.0,1994-05-04 00:00:00

In [ ]:
import pandas as pd


def clean_data(file_path='art_auction_valuation/data.txt'):
    """ 
    Essential data cleaning: 
    - Reads the dataset
    - Removes unwanted columns
    - Cleans country names
    - Converts numerical columns
    - Standardizes material names
    - Removes missing values 
    """
    # Read dataset (TSV format)
    df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

    # Drop unnecessary column (if it exists)
    if 'Unnamed: 0' in df.columns:
        df.drop(columns=['Unnamed: 0'], inplace=True)

    # Remove invalid country names (must be alphabetic)
    df = df[df['country'].str.isalpha() == True]

    # Convert height & width to numeric (remove non-numeric values)
    df['height'] = pd.to_numeric(df['height'], errors='coerce')
    df['width'] = pd.to_numeric(df['width'], errors='coerce')

    # Remove rows where price, height, or width is missing
    df.dropna(subset=['price', 'height', 'width'], inplace=True)

    # Standardize material names (lowercase)
    df['material'] = df['material'].str.lower()

    return df


# Run the function
df_cleaned = clean_data()
df_cleaned  # Check the cleaned data

/var/folders/vk/7gng6fhd2fzb0wxymcgl6j880000gn/T/ipykernel_8716/2932769365.py:14: DtypeWarning: Columns (3,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

,artist,country,yearOfBirth,yearOfDeath,name,year,price,material,height,width,...,dominantColor,brightness,ratioUniqueColors,thresholdBlackPerc,highbrightnessPerc,lowbrightnessPerc,CornerPer,EdgePer,FaceCount,soldtime
0,Mario A,Swiss,1959,NaN,The world is beautyful #5,2004,5315.0,laserchrome_print_diasec,29.53,39.37,...,yellows,98.0,0.25,65.74,0.75,21.56,0.37,4.02,1.0,NaN
1,Mario A,Swiss,1959,NaN,The world is beautyful #13,2004,7383.0,laserchrom_print_(diasec.),29.53,39.37,...,blacks,73.0,0.19,66.17,15.21,46.50,1.52,7.28,0.0,NaN
3,A G Schultz & Co.,American,est1890s,NaN,Sugar/Sweetmeat Baskets,NaN,615.0,sterling_silver,6.50,5.75,...,blacks,73.0,0.18,83.00,13.74,35.74,3.58,13.13,0.0,NaN
5,A H,European,NaN,NaN,Oriental couple playing with their first born,1862,6080.0,oil_on_canvas,36.00,29.00,...,blacks,45.0,0.19,95.14,14.08,41.76,0.34,7.03,0.0,NaN
8,A Kassen,Danish,est2004,NaN,Mirror #4,2013,10000.0,digital_c-print_on_dibond,74.80,44.88,...,whites,204.0,0.12,9.01,0.00,6.49,1.08,5.02,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41248,Mark Rothko,American,1903.0,1970.0,Untitled,1961,1700000.0,oil_on_canvas,93.00,80.00,...,reds,107.0,0.06,98.99,0.00,0.00,0.14,0.32,0.0,1997-11-18 00:00:00
41249,Mark Rothko,American,1903.0,1970.0,Untitled,1968,300000.0,acrylic_on_paper_on_canvas,24.00,18.00,...,reds,134.0,0.10,68.56,0.00,0.00,0.56,0.45,0.0,1997-11-18 00:00:00
41250,Mark Rothko,American,1903.0,1970.0,Untitled,1959,280000.0,oil_on_paper_laid_on_masonite,38.00,25.00,...,blacks,110.0,0.07,53.48,0.66,47.50,0.14,1.07,0.0,1997-11-18 00:00:00
41251,Mark Rothko,American,1903.0,1970.0,"Green, White, Green on Blue",1969,322938.0,oil_on_paper_on_board,71.00,41.00,...,blacks,25.0,0.08,94.98,9.47,42.95,0.22,1.97,0.0,1995-11-29 00:00:00
41252,Mark Rothko,American,1903.0,1970.0,Red on red,1968,330000.0,oil_on_paper_on_canvas,40.00,25.00,...,reds,106.0,0.05,96.90,0.00,0.00,0.05,0.17,0.0,1994-05-04 00:00:00

In [20]:
len(df_cleaned)

37638

In [21]:
df_cleaned.soldtime.isnull().sum()

19960

In [ ]:
import requests
from bs4 import BeautifulSoup

# Sotheby's Auction Results URL
base_url = "https://www.sothebys.com/en/results"
headers = {'User-Agent': 'Mozilla/5.0'}

response = requests.get(base_url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

# Extract auction links with proper formatting
auction_links = []
for link in soup.find_all('a', href=True):
    href = link['href']

    # Check if the link is a relative URL or already a full URL
    if href.startswith("http"):
        auction_links.append(href)
    elif href.startswith("/"):
        auction_links.append("https://www.sothebys.com" + href)

# Remove duplicates & print
auction_links = list(set(auction_links))
print(auction_links[:5])  # Preview first 5 auction links

['https://www.sothebys.com/en/buy/auction/2025/nba-auctions-2025-nba-all-star-game-2', 'https://www.sothebys.com/api/auth0login?lang=en', 'https://www.sothebys.com/bsp-api/quickcard?uuid=00000192-4336-d626-a99e-ef3728fc0000&locale=en', 'https://www.sothebys.com/bsp-api/quickcard?uuid=00000193-da9f-dac6-afd7-da9f39960000&locale=en', 'https://www.sothebys.com/bsp-api/quickcard?uuid=00000192-de25-dc5f-abde-feef42aa0000&locale=en']

In [ ]:
import requests
from bs4 import BeautifulSoup

# Sotheby's Auction Results URL
base_url = "https://www.sothebys.com/en/results"
headers = {'User-Agent': 'Mozilla/5.0'}

response = requests.get(base_url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

# Extract auction links
auction_links = []
for link in soup.find_all('a', href=True):
    if "/en/buy/auction/" in link['href']:  # Check for auction result URLs
        auction_links.append("https://www.sothebys.com" + link['href'])

# Remove duplicates & print
auction_links = list(set(auction_links))
print(auction_links[:5])  # Preview first 5 auction links

['https://www.sothebys.comhttps://www.sothebys.com/en/buy/auction/2025/contemporary-discoveries-pf2555', 'https://www.sothebys.comhttps://www.sothebys.com/en/buy/auction/2025/the-vision-of-aso-o-tavitian-online', 'https://www.sothebys.comhttps://www.sothebys.com/en/buy/auction/2025/beatmaker-12on12-timbaland-x-derek-fordjour-in-support-of-the-la-arts-community-fire-relief-fund', 'https://www.sothebys.comhttps://www.sothebys.com/en/buy/auction/2025/american-terroir-veeder-house-wines-direct-from-napa-valley', 'https://www.sothebys.comhttps://www.sothebys.com/en/buy/auction/2025/napa-valley-vintners-present-premiere-napa-valley-unique-cuvees-only-trade-access-only']

In [45]:
df_christies = pd.read_csv('whatmakesdata/christies.csv')
df_sothebys = pd.read_csv('whatmakesdata/SothebysData_clean.csv')

In [58]:
df_sothebys.columns

Index(['Unnamed: 0', 'Artist', 'Title', 'Location', 'Currency', 'Date',
       'Signed', 'Sold', 'Selling Price', 'low_estimate', 'high_estimate',
       'Category', 'Auction Name', 'Image'],
      dtype='object')

In [59]:
df_christies.columns

Index(['Artist', 'Birth', 'Death', 'Age', 'Alive?', 'Art Title', 'DoC',
       'Currency', 'price', 'low_estimate', 'high_estimate', 'Sold',
       'Est Accuracy', 'Dimentions', 'close date', 'Auction Title',
       'closeMonth', 'popularity', 'sale_year'],
      dtype='object')

In [18]:
len(artist_list)

1451

In [ ]:
df = pd.read_csv('final_df.csv')
artist_list = df['artist'].unique()
index_giorgio_de_chirico = next((i for i, artist in enumerate(artist_list) if artist.lower() == 'thomas downing'), None)
print(f"Index of  {index_giorgio_de_chirico}")

Index of 'Giorgio de Chirico' in artist_list: None

In [55]:
df_christies['closeYear'].unique()

array([  16,   17,   13,   12,   18,   15,   22,   19,   14,   20,   21,
       2019, 2020, 2021])

In [ ]:
# Function to fix closeYear column
def fix_year(year):
    if pd.isna(year):  # Handle NaN values
        return None
    year = int(year)  # Convert to integer
    if year > 2000:  # Already in four-digit format
        return year
    elif year >= 50:  # Assume 1950-1999
        return 1900 + year
    else:  # Assume 2000-2049
        return 2000 + year


# Apply function to transform closeYear properly
df_christies["sale_year"] = df_christies["closeYear"].apply(fix_year)

# Drop unnecessary columns
df_christies.drop(columns=["closeYear"], inplace=True)

# Save cleaned dataset
df_christies.to_csv("christies_cleaned.csv", index=False)

# Check result
print(df_christies[["sale_year"]].head())

   sale_year
0       2016
1       2017
2       2013
3       2012
4       2018

In [ ]:
df_sothebys.Date

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
1588    2021
1589    2021
1590    2021
1591    2021
1592    2021
Name: Date, Length: 1593, dtype: object

In [ ]:


# Standardize column names
df_sothebys.rename(columns={
    'Title': 'title', 'Artist': 'artist', 'Currency': 'currency',
    'Selling Price': 'price', 'low_estimate': 'low_estimate',
    'high_estimate': 'high_estimate', 'Sold': 'sold',
    'Auction Name': 'auction_title', 'Date': 'sale_date'
}, inplace=True)

df_christies.rename(columns={
    'Art Title': 'title', 'Artist': 'artist', 'Currency': 'currency',
    'price': 'price', 'low_estimate': 'low_estimate',
    'high_estimate': 'high_estimate', 'Sold': 'sold',
    'Auction Title': 'auction_title', 'close date': 'sale_date'
}, inplace=True)

# Convert sale date to datetime format
df_sothebys['sale_date'] = pd.to_datetime(
    df_sothebys['sale_date'], errors='coerce')
df_christies['sale_date'] = pd.to_datetime(
    df_christies['sale_date'], errors='coerce')

# Extract year of creation from "DoC" in Christie's dataset
df_christies['year_created'] = df_christies['DoC'].apply(
    lambda x: int(str(x)[:4]) if pd.notnull(x) and str(x).isdigit() else None)

# Extract height & width from Christie's dataset dimensions
if 'Dimentions' in df_christies.columns:
    df_christies[['height', 'width']] = df_christies['Dimentions'].str.extract(
        r'(\d+\.?\d*)\s*x\s*(\d+\.?\d*)').astype(float)

# Drop unnecessary columns
df_sothebys.drop(columns=['Unnamed: 0', 'Signed',
                 'Category', 'Image'], inplace=True, errors='ignore')
df_christies.drop(columns=['DoC', 'Dimentions',
                  'Alive?'], inplace=True, errors='ignore')

# Merge datasets
df_merged = pd.concat([df_sothebys, df_christies], ignore_index=True)

# Save the merged dataset
df_merged.to_csv("merged_auction_data.csv", index=False)

# Display summary of final dataset
print(df_merged.info())
print(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2780 entries, 0 to 2779
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         2780 non-null   object
 1   title          2775 non-null   object
 2   Location       1593 non-null   object
 3   currency       2780 non-null   object
 4   sale_date      2683 non-null   datetime64[ns]
 5   sold           2780 non-null   int64
 6   price          2780 non-null   float64
 7   low_estimate   2780 non-null   float64
 8   high_estimate  2780 non-null   float64
 9   auction_title  2780 non-null   object
 10  Birth          1187 non-null   float64
 11  Death          1187 non-null   float64
 12  Age            1187 non-null   float64
 13  Est Accuracy   1187 non-null   float64
 14  closeMonth     1187 non-null   float64
 15  closeYear      1187 non-null   float64
 16  popularity     1187 non-null   object
 17  year_created   1187 non-null   float64
 18  height         813 non-null    float64
 19  width          813 non-null    float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(6)
memory usage: 434.5+ KB
None
                                            artist  \
0  French School, 18th Century, A white greyhound
1                      François Léon Prieur-Bardin
2                                     Stefano Ussi
3                                   Ludwig Deutsch
4                                  Eugène Girardet

                                              title Location currency  \
0   Ecole française du XVIIIe siècle, Lévrier blanc    Paris      USD
1                                  On the Bosphorus   London      USD
2                                  A Moroccan Guard   London      USD
3                                 Before the Mosque   London      USD
4                                       The Caravan   London      USD

   sale_date  sold     price  low_estimate  high_estimate  \
0 2022-01-01     0      0.00       5550.50        7770.70
1 2022-01-01     1  62830.65      39367.57       52490.10
2 2022-01-01     1   7936.50       5249.01        7873.51
3 2022-01-01     0      0.00     262450.50      393675.75
4 2022-01-01     0      0.00      65612.62       91857.67

          auction_title  Birth  Death  Age  Est Accuracy  closeMonth  \
0               ANIMALS    NaN    NaN  NaN           NaN         NaN
1  The Orientalist Sale    NaN    NaN  NaN           NaN         NaN
2  The Orientalist Sale    NaN    NaN  NaN           NaN         NaN
3  The Orientalist Sale    NaN    NaN  NaN           NaN         NaN
4  The Orientalist Sale    NaN    NaN  NaN           NaN         NaN

   closeYear popularity  year_created  height  width
0        NaN        NaN           NaN     NaN    NaN
1        NaN        NaN           NaN     NaN    NaN
2        NaN        NaN           NaN     NaN    NaN
3        NaN        NaN           NaN     NaN    NaN
4        NaN        NaN           NaN     NaN    NaN

In [39]:
df_merged

,artist,title,Location,currency,sale_date,sold,price,low_estimate,high_estimate,auction_title,Birth,Death,Age,Est Accuracy,closeMonth,closeYear,popularity,year_created,height,width
0,"French School, 18th Century, A white greyhound","Ecole française du XVIIIe siècle, Lévrier blanc",Paris,USD,2022-01-01 00:00:00.000000000,0,0.00,5550.50,7770.70,ANIMALS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,François Léon Prieur-Bardin,On the Bosphorus,London,USD,2022-01-01 00:00:00.000000000,1,62830.65,39367.57,52490.10,The Orientalist Sale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Stefano Ussi,A Moroccan Guard,London,USD,2022-01-01 00:00:00.000000000,1,7936.50,5249.01,7873.51,The Orientalist Sale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ludwig Deutsch,Before the Mosque,London,USD,2022-01-01 00:00:00.000000000,0,0.00,262450.50,393675.75,The Orientalist Sale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eugène Girardet,The Caravan,London,USD,2022-01-01 00:00:00.000000000,0,0.00,65612.62,91857.67,The Orientalist Sale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775,walter richard sickert,"The Façade of St. Mark's, Venice",NaN,USD,1970-01-01 00:00:00.000000013,1,25000.00,25000.00,37500.00,MODERN BRITISH AND IRISH ART DAY SALE,1860.0,1942.0,82.0,-1.0,12.0,12.0,"63,700",0.0,15.5,24.1
2776,robert delaunay,Manège de cochons,NaN,USD,1970-01-01 00:00:00.000000014,1,651000.00,525000.00,840000.00,OEUVRES MODERNES SUR PAPIER / ART IMPRESSIONNI...,1885.0,1941.0,56.0,0.0,4.0,21.0,"122,000",1922.0,NaN,NaN
2777,henry moore,Two Piece Reclining Figure: Armless,NaN,USD,1970-01-01 00:00:00.000000027,1,985937.50,625000.00,875000.00,IMPRESSIONIST AND MODERN ART EVENING SALE,1898.0,1986.0,88.0,1.0,2.0,18.0,"122,000",1975.0,NaN,NaN
2778,walter gay,Intérieur Parisien,NaN,USD,1970-01-01 00:00:00.000000020,1,8125.00,4000.00,6000.00,American Art Online,1856.0,1937.0,81.0,1.0,11.0,18.0,"3,390,000",0.0,55.6,45.9
2779,"mitelli, giuseppe maria",NaN,NaN,USD,1970-01-01 00:00:00.000000015,1,17187.50,2500.00,3750.00,THE ROYAL HOUSE OF SAVOY,1634.0,1718.0,84.0,1.0,10.0,19.0,"4,250,000",0.0,365.0,248.0

In [41]:
df_merged.sale_date.unique()

<DatetimeArray>
[          '2022-01-01 00:00:00',           '2021-01-01 00:00:00',
           '2020-01-01 00:00:00',           '2019-01-01 00:00:00',
                           'NaT', '1970-01-01 00:00:00.000000017',
 '1970-01-01 00:00:00.000000018', '1970-01-01 00:00:00.000000016',
 '1970-01-01 00:00:00.000000013', '1970-01-01 00:00:00.000000020',
 '1970-01-01 00:00:00.000000027', '1970-01-01 00:00:00.000000004',
 '1970-01-01 00:00:00.000000024', '1970-01-01 00:00:00.000000031',
 '1970-01-01 00:00:00.000000026', '1970-01-01 00:00:00.000000005',
 '1970-01-01 00:00:00.000000028', '1970-01-01 00:00:00.000000030',
 '1970-01-01 00:00:00.000000014', '1970-01-01 00:00:00.000000022',
 '1970-01-01 00:00:00.000000023', '1970-01-01 00:00:00.000000001',
 '1970-01-01 00:00:00.000000021', '1970-01-01 00:00:00.000000007',
 '1970-01-01 00:00:00.000000009', '1970-01-01 00:00:00.000000011',
 '1970-01-01 00:00:00.000000006', '1970-01-01 00:00:00.000000012',
 '1970-01-01 00:00:00.000000015', '1970-01-01 00:00:00.000000010',
 '1970-01-01 00:00:00.000000003', '1970-01-01 00:00:00.000000019',
 '1970-01-01 00:00:00.000000008', '1970-01-01 00:00:00.000000025',
 '1970-01-01 00:00:00.000000029', '1970-01-01 00:00:00.000000002']
Length: 36, dtype: datetime64[ns]